# ==============================================================================
# CONFIGURATION AWS / S3
# ==============================================================================
# Les identifiants AWS ci-dessous sont automatiquement détectés par boto3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# Paramètres spécifiques à ton bucket S3
S3BucketName=
IBM_ATTRITION_S3_PREFIX=
IBM_ATTRITION_S3_PRED_PREFIX=

# ==============================================================================
# CONFIGURATION DE L'API SOURCE (EXTRACT)
# ==============================================================================
IBM_ATTRITION_BASE_URL=
IBM_ATTRITION_ENDPOINT=
IBM_ATTRITION_BATCH_SIZE=
IBM_ATTRITION_SLEEP_SECONDS=

# ==============================================================================
# CONFIGURATION DE L'API DU MODÈLE DE PRÉDICTION (TRANSFORM)
# ==============================================================================
IBM_ATTRITION_MODEL_API_BASE_URL=
IBM_ATTRITION_MODEL_API_PREDICT_ENDPOINT=
IBM_ATTRITION_MODEL_API_TIMEOUT=

# ==============================================================================
# CONFIGURATION DE LA BASE DE DONNÉES POSTGRES / NEON (LOAD)
# ==============================================================================
# Exemple de format : postgresql://utilisateur:mot_de_passe@hote:port/nom_de_bdd?sslmode=require
DATABASE_URL=
DB_TARGET_TABLE=